html {
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

body{
	background: #f9fafb;
	margin: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(food.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.container{
	
	height: 100%;
	width: 60vw;
	margin: auto;
}
.title {
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	font-size: 40px;
	color: #e6e6e6;
	-webkit-text-stroke: 1px black;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0px 0px 0 #000;
}
.form-container {
	display: flex;
	justify-content: center;
}
.ingredients {
	display: flex;
}
.input-box {
	padding: 1vh;
}
#food {
	width: 15vw;
	border-radius: 4px;
	outline: none;
	padding: 10px;
	font-size: 14px;
}
#food:focus {
    border: 2px solid #555;
}

.button-input {
	padding: 1vh;
}
#button {
	background-color: #909296;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 7px 13px 0 rgba(0,0,0,0.2), 0 5px 18px 0 rgba(0,0,0,0.19);
    font-size: 17px
}
#button:hover {
    background-color: #a4a8ad;
    color: white;
}
.recipe-container {
	max-width: 1000px;
	margin-top: 10vh;



	
}

#recipes {
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
	justify-content: center;
	margin: auto;

}
li img{
	width: 300px;
    height: 280px;
}

.recipe-title {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 700;
    font-size: 1.2em;

}
.publisher {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 700;
}


ul {
	max-width: 300px;
}

ul li{
	list-style: none;
	list-style-type: none;
	max-width: 300px;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.56);
	background-color: #f9fafb;
	border: 1px solid #727272;
}



a:link {
	font-family: 'Permanent Marker', cursive;
	text-decoration: none;
	letter-spacing: .6px;
	color: #424242;
	font-size: 1.3em;
	
}
a:link:hover {
	color: #551a8b;
}

li{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.recipe-info {
	text-align: center;
}

.a-link {
	text-align: center;
	text-decoration: none;
}

/* Loading animation */

#loading {
  	display: none;

  	position: absolute;
  	left: 50%;
  	top: 50%;
  	z-index: 1;
  	width: 70px;
  	height: 70px;
  	margin: -75px 0 0 -75px;
  	border: 16px solid #f3f3f3;
  	border-radius: 50%;
  	border-top: 16px solid #3498db;
  	width: 50px;
  	height: 50px;
  	-webkit-animation: spin 2s linear infinite;
  	animation: spin 2s linear infinite;
}

.no-data-container {

	display: flex;
	justify-content: center;
	width: 400px;
	margin: auto;
    padding-top: 15vh;
}
.no-data {
	color: white;
	text-align: center;
	font-size: 26px;
	font-family: 'M PLUS Rounded 1c', sans-serif;

}